body {
 color: #323623;
}

.header {
  margin: 100px auto 0px auto;
  width: 70%;
  text-align: center;
}

.header h1 {
  font-family: 'Ubuntu Condensed', sans-serif;
  margin-bottom: 0px;
  font-size: 52px;
}

.header ul {
  list-style: none;
  padding: 0px;
  font-size: 12px;
}

.header ul li {
  display: inline;
}

a {
  color: #79850D;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  color: #D2D952;
}
