/* skelly */

body {
 color: #323623;
 font-family: 'Helvetica Neue', 'Helvetica', 'sans-serif';
}

.site {
  margin: 50px auto 0px auto;
  width: 60%;
}

.site.home {
  margin-top: 20%;
}

/* embedded tumblr */

.tumblr_posts {
  list-style: none;
}

.tumblr_title {
  font-size: 22px;
  color: #79850D;
  font-weight: bold;
}

/* Header and nav biz */

.header {
  text-align: center;
}

.header .header-text {
  font-weight: bold;
  font-family: 'Ubuntu Condensed', sans-serif;
  margin-bottom: 0px;
  font-size: 52px;
  -webkit-font-smoothing: antialiased;
  color: #323623;
}

ul.nav {
  list-style: none;
  padding: 0px;
  margin-top: 4px;
  font-size: 12px;
}

ul.nav li {
  display: inline;
}

/* other */

a {
  color: #79850D;
  text-decoration: none;
}

a:hover {
  color: #D2D952;
}

.meta {
  font-size: 12px;
  font-style: italic;
}

.captioned-image {
  margin: auto;
  width: 70%;
}

.captioned-image img {
  width: 100%;
}

.captioned-image .caption {
  font-size: 12px;
  font-style: italic;
  text-align: center;
}
