body {
    padding: 0;
    margin: 0;
    height: 100%;
}

#controls {
    position: fixed;
    right: 0;
    top: 0;
    width: 100px;
    background: #000;
    color: #fff;
}

#controls ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

#controls li {
    margin: 20px;
}

button {
    border: 2px solid white;
    color: white;
    background: black;
}

button:hover {
    color: black;
    background: white;
}